<h3>NhaKhoaHoc</h3>
@page "/NhaKhoaHoc"
@using Microsoft.AspNetCore.Authorization
@using CoSoDuLieuKhoaHoc.ViewModel
@using Microsoft.EntityFrameworkCore;
@using CoSoDuLieuKhoaHoc.Models

@using CoSoDuLieuKhoaHoc.DataServices
@inject QLKhoaHocContext Dbcontext

<div id="titletop" class="top-row px-4" style="background-color:#072565">

    <div class="col-xs-12 col-sm-8 col-md-9">

        <h2 id="ttid" style="text-align:center; margin-top:10px;margin-left:1px;margin-right:1px;color: #005882;font-size: 35px;font-weight:bold;font-family:'Times New Roman'" class="font-weight-800">
            <a class="title text-white text-sm-center ">
                CƠ SỞ DỮ LIỆU KHOA HỌC VÀ CÔNG NGHỆ
            </a>
        </h2>
    </div>
    <div class="d-flex justify-content-end">
        <div id="btnlogin">
            <a href="/Login" class="btnlogin">LOGIN</a>
        </div>
        <div>
            <a id="btninf" <img class="infom" src="images/user.png" alt="Image"></a>
        </div>
    </div>
</div>
<div class="imgbackrounddiv">
    <br />
    <br />
    <br />

    <div class="main">
        <div class="d-flex justify-content-center mt-2">
            <div class="nkhbtn">
                <RadzenLink Path="/NhaKhoaHoc" Text="NHÀ KHOA HỌC" />
            </div>


            <div class="nkhbtn">
                <RadzenLink Path="/DeTaiKhoaHoc" Text="ĐỀ TÀI KHOA HỌC" />
            </div>

            <div class="nkhbtn">
                <RadzenLink Path="/BaiBaoKhoaHoc" Text="BÀI BÁO KHOA HỌC" />
            </div>

            <div class="nkhbtn">
                <RadzenLink Path="/sachvagiaotrinh" Text="SÁCH, GIÁO TRÌNH" />
            </div>
        </div>
        <div class="timkiem">

        </div>
    </div>
    <br />
    <br />
</div>


<div class="=main">
    <RadzenGrid @ref="ordersGrid" AllowFiltering="true"  AllowPaging="true" PageSize="10" AllowSorting="true" EditMode="DataGridEditMode.Single"
                Data="@nkhvmd" TItem="NhaKhoaHocViewModel" ColumnWidth="150px">
        <Columns>

            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="MaNkh" Title="Mã Nhà Khoa Học" />
            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="TenHocHam" Title="Tên Học Hàm" />

            <RadzenGridColumn Width="200px" TItem="NhaKhoaHocViewModel" Property="HoNkh" Title="Họ" />
            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="TenNkh" Title="Tên" />
            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="GioiTinhNkh" Title="Giới Tính" />
            <RadzenGridColumn Width="160px" TItem="NhaKhoaHocViewModel" Property="NgaySinh" Title="Ngày Sinh" />
            <RadzenGridColumn Width="200px" TItem="NhaKhoaHocViewModel" Property="DiaChiLienHe" Title="Địa Chỉ" />
            <RadzenGridColumn Width="130px" TItem="NhaKhoaHocViewModel" Property="DienThoai" Title="Điện Thoại" />
            <RadzenGridColumn Width="130px" TItem="NhaKhoaHocViewModel" Property="EmailLienHe" Title="Email Liên Hệ" />
            <RadzenGridColumn Width="130px" TItem="NhaKhoaHocViewModel" Property="EmailThayThe" Title="Email Thay Thế" />
            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="MaHocHam" Title="Mã Học Hàm" />
            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="NhaKhoaHoc.MaHocVi" Title="Mã Học Vị">
                <EditTemplate Context="order">
                    <RadzenDropDown @bind-Value="order.MaNkh" Data="@nkhvmd" TextProperty="MaHocVi" ValueProperty="MaNkh" Style="width:100%" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="NhakhoaHocViewModel.MaCndaoTao" Title="Mã CN Đào Tạo">
                <EditTemplate Context="order">
                    <RadzenDropDown @bind-Value="order.MaNkh" Data="@nkhvmd" TextProperty="MaCndaoTao" ValueProperty="MaNkh" Style="width:100%" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="MaDonViQl" Title="MÃ Đơn Vị" />


            <RadzenGridColumn Width="100px" TItem="NhaKhoaHocViewModel" Property="MaNgachVienChuc" Title="Mã Viên Chức" />
            <RadzenGridColumn Width="100" TItem="NhaKhoaHocViewModel" Property="SoCmnd" Title="Số Chứng Minh" />
            <RadzenGridColumn Width="130px" TItem="NhaKhoaHocViewModel" Property="NoiSinh" Title="Nơi Sinh" />

            <RadzenGridColumn TItem="NhaKhoaHocViewModel" Context="Dbcontext" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="order">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(order))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="order">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(order))">
                    </RadzenButton>
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(order))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NhaKhoaHocViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="order">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="order">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>

</div>
@code {
    RadzenGrid<NhaKhoaHocViewModel> ordersGrid;
    IList<NhaKhoaHocViewModel> orders;
    IEnumerable<CoSoDuLieuKhoaHoc.MyInterface.INhaKhoaHocManager> GetListNhaKhoaHoc;
    List<NhaKhoaHocViewModel> nkhvmd = new List<NhaKhoaHocViewModel>();
    DataNhaKhoaHocServices dt = new DataNhaKhoaHocServices();
    protected override async Task OnInitializedAsync()
    {
        nkhvmd = await dt.GetListNhaKhoaHoc();


    }
    void EditRow(NhaKhoaHocViewModel order)
    {
        ordersGrid.EditRow(order);
    }

    void OnUpdateRow(NhaKhoaHocViewModel order)
    {
        Dbcontext.Update<NhaKhoaHocViewModel>(order);
    }

    void SaveRow(NhaKhoaHocViewModel order)
    {
        ordersGrid.UpdateRow(order);
    }

    void CancelEdit(NhaKhoaHocViewModel order)
    {
        ordersGrid.CancelEditRow(order);

        // For production
        var orderEntry = Dbcontext.Entry(order);
        orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
        orderEntry.State = EntityState.Unchanged;
    }

    void DeleteRow(NhaKhoaHocViewModel order)
    {
        Dbcontext.Remove<NhaKhoaHocViewModel>(order);

        // For demo purposes only
        orders.Remove(order);

        // For production
        //dbContext.SaveChanges();

        ordersGrid.Reload();
    }
}