@page "/BaiBaoKhoaHoc"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using CoSoDuLieuKhoaHoc.ViewModel
@using CoSoDuLieuKhoaHoc.Models
@using CoSoDuLieuKhoaHoc.DataServices

@inject QLKhoaHocContext Dbcontext


<main>
    <div class="row mtli-row-clearfix" style="background-color:greenyellow">
        @foreach (var item in listbaibao)
        {

            <a>Tên Bài Báo</a>
            @item.TenBaiBao
            <br />
            <p>mã Bài Báo</p>
            @item.MaBaiBao
            <br />
            <p>Cơ Quan xuất Bản</p>
            @item.CQXuatBan
            <br />
            <p>Lĩnh vực</p>
            @item.TenLinhVuc
            <br />
            <p>Tác Giả</p>
            @item.TacGia
            <br />
           
        }

    </div>
</main>
@code {

    DataBaiBaoKhoaHocServices dtbbkh = new DataBaiBaoKhoaHocServices();
    List<BaiBaoSearchViewModel> listbaibao = new List<BaiBaoSearchViewModel>();
    int Soluongbaibao = 0;

    protected override async Task OnInitializedAsync()
    {
        listbaibao = dtbbkh.DSBaiBaoKH();

    }
}