
@page "/sachvagiaotrinh"
@using Microsoft.AspNetCore.Authorization
@using CoSoDuLieuKhoaHoc.ViewModel
@using Microsoft.EntityFrameworkCore;
@using CoSoDuLieuKhoaHoc.Models
@using CoSoDuLieuKhoaHoc.DataServices
@inject QLKhoaHocContext Dbcontext


    <div class="=main">
        <RadzenGrid Resizable="true" @ref="ordersGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" EditMode="DataGridEditMode.Single"
                    Data="@nkhvmd" TItem="SachVaGiaoTrinhViewModel" ColumnWidth="150px">
            <Columns>
                <RadzenGridColumn Width="100px" TItem="SachVaGiaoTrinhViewModel" Property="MaSach" Title="Mã Sách" />

                <RadzenGridColumn Width="200px" TItem="SachVaGiaoTrinhViewModel" Property="MaIsbn" Title="MaIsbn" />
                <RadzenGridColumn Width="160px" TItem="SachVaGiaoTrinhViewModel" Property="TenSach" Title="Tên Sách" />      
                <RadzenGridColumn Width="200px" TItem="SachVaGiaoTrinhViewModel" Property="MaNxb" Title="Mã Nhà xuất Bản" />
                <RadzenGridColumn Width="130px" TItem="SachVaGiaoTrinhViewModel" Property="NamXuatBan" Title="Năm xuất Bản" />
                <RadzenGridColumn Width="130px" TItem="SachVaGiaoTrinhViewModel" Property="Mota" Title="Mô Tả" /> 
               <RadzenGridColumn Width="100px" TItem="SachVaGiaoTrinhViewModel" Property="AnhBiaIsbn" Title="Ảnh bìa Nhà xuất Bản" />
                <RadzenGridColumn TItem="SachVaGiaoTrinhViewModel" Context="Dbcontext" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="order">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(order))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="order">
                        <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(order))">
                        </RadzenButton>
                        <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(order))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="SachVaGiaoTrinhViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                    <Template Context="order">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="order">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>
            </Columns>

        </RadzenGrid>

    </div>
    @code {
        RadzenGrid<SachVaGiaoTrinhViewModel> ordersGrid;
        IList<SachVaGiaoTrinhViewModel> orders;
        List<SachVaGiaoTrinhViewModel> nkhvmd = new List<SachVaGiaoTrinhViewModel>();
        DataSachGiaoTrinhServices dt = new DataSachGiaoTrinhServices();
        protected override async Task OnInitializedAsync()
        {
            nkhvmd = await dt.GetLisSachVaGiaoTrinh();

        }
        void EditRow(SachVaGiaoTrinhViewModel order)
        {
            ordersGrid.EditRow(order);
        }

        void OnUpdateRow(SachVaGiaoTrinhViewModel order)
        {
            Dbcontext.Update<SachVaGiaoTrinhViewModel>(order);
        }

        void SaveRow(SachVaGiaoTrinhViewModel order)
        {
            ordersGrid.UpdateRow(order);
        }

        void CancelEdit(SachVaGiaoTrinhViewModel order)
        {
            ordersGrid.CancelEditRow(order);

            // For production
            var orderEntry = Dbcontext.Entry(order);
            orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
            orderEntry.State = EntityState.Unchanged;
        }

        void DeleteRow(SachVaGiaoTrinhViewModel order)
        {
            Dbcontext.Remove<SachVaGiaoTrinhViewModel>(order);

            // For demo purposes only
            orders.Remove(order);

            // For production
            //dbContext.SaveChanges();

            ordersGrid.Reload();
        }
    }

    @code {
        public List<SampleData> GridData { get; set; }

        protected override void OnInitialized()
        {
            GridData = GetData();
        }

        private List<SampleData> GetData()
        {
            return Enumerable.Range(1, 50).Select(x => new SampleData
            {
                Id = x,
                Name = $"name {x}",
                LastName = $"Surname {x}"
            }).ToList();
        }

        public class SampleData
        {
            public int Id { get; set; }
            public string Name { get; set; }
            public string LastName { get; set; }
        }
    }


