
@page "/Phatminhgiaiphap"
@using Microsoft.AspNetCore.Authorization
@using CoSoDuLieuKhoaHoc.ViewModel
@using Microsoft.EntityFrameworkCore;
@using CoSoDuLieuKhoaHoc.Models
@using CoSoDuLieuKhoaHoc.DataServices
@inject QLKhoaHocContext Dbcontext


<div id="titletop" class="top-row px-4" style="background-color:#072565">

    <div class="col-xs-12 col-sm-8 col-md-9">

        <h2 id="ttid" style="text-align:center; margin-top:10px;margin-left:1px;margin-right:1px;color: #005882;font-size: 35px;font-weight:bold;font-family:'Times New Roman'" class="font-weight-800">
            <a class="title text-white text-sm-center ">
                CƠ SỞ DỮ LIỆU KHOA HỌC VÀ CÔNG NGHỆ
            </a>
        </h2>
    </div>
    <div class="d-flex justify-content-end">
        <div id="btnlogin">
            <a href="/Login" class="btnlogin">LOGIN</a>
        </div>
        <div>
            <a id="btninf" <img class="infom" src="images/user.png" alt="Image"></a>
        </div>
    </div>
</div>
<div class="imgbackrounddiv">
    <br />
    <br />
    <br />

    <div class="main">
        <div class="d-flex justify-content-center mt-2">
            <div class="nkhbtn">
                <RadzenLink Path="/NhaKhoaHoc" Text="NHÀ KHOA HỌC" />
            </div>


            <div class="nkhbtn">
                <RadzenLink Path="/DeTaiKhoaHoc" Text="ĐỀ TÀI KHOA HỌC" />
            </div>

            <div class="nkhbtn">
                <RadzenLink Path="/BaiBaoKhoaHoc" Text="BÀI BÁO KHOA HỌC" />
            </div>

            <div class="nkhbtn">
                <RadzenLink Path="/sachvagiaotrinh" Text="SÁCH, GIÁO TRÌNH" />
            </div>
        </div>
        <div class="timkiem">

        </div>
    </div>
    <br />
    <br />
</div>

<div class="=main">
    <RadzenGrid Resizable="true" @ref="ordersGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" EditMode="DataGridEditMode.Single"
                Data="@nkhvmd" TItem="PhatMinhGiaiPhapViewModel" ColumnWidth="150px">
        <Columns>
            <RadzenGridColumn Width="100px" TItem="PhatMinhGiaiPhapViewModel" Property="MaPm" Title="Mã Phát Minh" />
            <RadzenGridColumn Width="200px" TItem="PhatMinhGiaiPhapViewModel" Property="TenPm" Title="Tên Pháp Minh " />
            <RadzenGridColumn Width="160px" TItem="PhatMinhGiaiPhapViewModel" Property="SoHieuPm" Title="Số hiệu" />
            <RadzenGridColumn Width="160px" TItem="PhatMinhGiaiPhapViewModel" Property="MotaPm" Title="Mô Tả" />
            <RadzenGridColumn Width="200px" TItem="PhatMinhGiaiPhapViewModel" Property="DoiTuongSuDung" Title="Đối Tượng Sử Dụng" />
            <RadzenGridColumn Width="130px" TItem="PhatMinhGiaiPhapViewModel" Property="QuocGiaCap" Title="Quốc gia cấo" />
            <RadzenGridColumn Width="30px" TItem="PhatMinhGiaiPhapViewModel" Property="LinkLienKet" Title="Liên Kết" />
            <RadzenGridColumn Width="30px" TItem="PhatMinhGiaiPhapViewModel" Property="AnhScanGiayChungNhan" Title="Ảnh 1" />
            <RadzenGridColumn Width="30px" TItem="PhatMinhGiaiPhapViewModel" Property="AnhChupSanPham1" Title="Ảnh 2" />
            <RadzenGridColumn Width="30px" TItem="PhatMinhGiaiPhapViewModel" Property="AnhChupSanPham2" Title="3" />
            <RadzenGridColumn Width="100px" TItem="PhatMinhGiaiPhapViewModel" Property="NamCongBo" Title="Năm Công Bố" />
            <RadzenGridColumn TItem="PhatMinhGiaiPhapViewModel" Context="Dbcontext" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="order">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(order))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="order">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(order))">
                    </RadzenButton>
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(order))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="PhatMinhGiaiPhapViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="order">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="order">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
        </Columns>

    </RadzenGrid>

</div>
@code {

    RadzenGrid<PhatMinhGiaiPhapViewModel> ordersGrid;
    IList<PhatMinhGiaiPhapViewModel> orders;
    List<PhatMinhGiaiPhapViewModel> nkhvmd = new List<PhatMinhGiaiPhapViewModel>();
    DataPhatMinhGiaiPhapServices dt = new DataPhatMinhGiaiPhapServices();
    protected override async Task OnInitializedAsync()
    {
        nkhvmd = await dt.GetListPhatMinh();

    }
    void EditRow(PhatMinhGiaiPhapViewModel order)
    {
        ordersGrid.EditRow(order);
    }

    void OnUpdateRow(PhatMinhGiaiPhapViewModel order)
    {
        Dbcontext.Update<PhatMinhGiaiPhapViewModel>(order);
    }

    void SaveRow(PhatMinhGiaiPhapViewModel order)
    {
        ordersGrid.UpdateRow(order);
    }

    void CancelEdit(PhatMinhGiaiPhapViewModel order)
    {
        ordersGrid.CancelEditRow(order);

        // For production
        var orderEntry = Dbcontext.Entry(order);
        orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
        orderEntry.State = EntityState.Unchanged;
    }

    void DeleteRow(PhatMinhGiaiPhapViewModel order)
    {
        Dbcontext.Remove<PhatMinhGiaiPhapViewModel>(order);

        // For demo purposes only
        orders.Remove(order);

        // For production
        //dbContext.SaveChanges();

        ordersGrid.Reload();
    }
}

