
@page "/Abc"
@using Microsoft.AspNetCore.Authorization
@using CoSoDuLieuKhoaHoc.ViewModel
@using Microsoft.EntityFrameworkCore;
@using CoSoDuLieuKhoaHoc.Models
@using Radzen.Blazor;
@using Radzen

@using CoSoDuLieuKhoaHoc.DataServices
@inject QLKhoaHocContext Dbcontext
<br />
<div>
    <RadzenFieldset Text="Tìm Kiếm Thông tin nhà khoa học">
        <div class="row">
            <div class="col-md-3">
                <RadzenDropDown @bind-Value="order.CardId" AllowClear="true" Placeholder="Chọn đơn vị" Data="@cards" style="width: 100%;" TextProperty="CardNr" ValueProperty="CardId" Name="CardId">
                </RadzenDropDown>
            </div>

            <div class="col-md-3">
                <RadzenDropDown @bind-Value="order.CardId" AllowClear="true" Placeholder="Chọn ngạch" Data="@cards" style="width: 100%;" TextProperty="CardNr" ValueProperty="CardId" Name="CardId">
                </RadzenDropDown>
            </div>

            <div class="col-md-3">
                <RadzenDropDown @bind-Value="order.CardId" AllowClear="true" Placeholder="Chọn chức danh" Data="@cards" style="width: 100%;" TextProperty="CardNr" ValueProperty="CardId" Name="CardId">
                </RadzenDropDown>

            </div>
            <div class="col-md-3">
                <RadzenDropDown @bind-Value="order.CardId" AllowClear="true" Placeholder="Chọn học vị" Data="@cards" style="width: 100%;" TextProperty="CardNr" ValueProperty="CardId" Name="CardId">
                </RadzenDropDown>

            </div>
           
            <div class="col-md-3">
                <RadzenDropDown @bind-Value="order.CardId" AllowClear="true" Placeholder="Chọn lĩnh vực nghiên cứu" Data="@cards" style="width: 100%;" TextProperty="CardNr" ValueProperty="CardId" Name="CardId">
                </RadzenDropDown>
            </div>
            <div class="col-md-3">
                <div class="col-md-8 align-items-center d-flex">
                    <RadzenLabel Text="Nhập từ khóa" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox style="width: 100%;" Name="CardNr" />
                </div>
            </div>
            <RadzenButton Text="Tìm Kiếm" Style="margin-bottom: 20px; width: 150px; margin-right:3px;" />
        </div>

    </RadzenFieldset>
</div>
<br />
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="DANH SÁCH NHÀ KHOA HỌC">
            <RadzenDataList PageSize="2" WrapItems="true" AllowPaging="true" Data="@nkhvmd" TItem="NhaKhoaHocHomeViewModel">
                <Template Context="order">
                    <RadzenCard Style="width:340px; height:330px">
                        <div class="row">
                            <div class="col-md-6">
                                <div>Tên nhà khoa học:</div>
                                <b>@order.Name</b>
                                <div style="margin-top:20px">Học vị- Học hàm:</div>

                                <b>@order.Hocham - @order.Hocvi</b>
                                <br />
                                <img id="imglogo" src="images/avt.png" alt="Image " style="width:150px; height:150px">
                                <br />
                                <div style="background-color:lavender; color:red; font-size:large">Mã số nhà khoa học: 1128562832</div>

                            </div>
                            <div class="col-md-6">
                                <div style="margin-top:20px">Ngành đào tạo:</div>
                                <b>@(order.Nganhdaotao)</b>
                                <div style="margin-top:20px">Chuyên ngành đào tạo:</div>
                                <b>@(order.Chuyennganh)</b>
                                <div style="margin-top:20px">Đơn vị quản lí:</div>
                                <b>@(order.Donviquanli)</b>
                            </div>
                        </div>

                    </RadzenCard>
                </Template>
            </RadzenDataList>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {


    List<NhaKhoaHocHomeViewModel> orders;
    List<NhaKhoaHocHomeViewModel> nkhvmd = new List<NhaKhoaHocHomeViewModel>();
    DataNhaKhoaHocServices dt = new DataNhaKhoaHocServices();
    protected override async Task OnInitializedAsync()
    {
        nkhvmd = dt.lsnkhHome();

    }

    // thêm các data mẫu



    public class Order
    {
        public int CardId { get; set; }
        public string CardNr { get; set; }
        public DateTime ExpiryDate { get; set; }
        public string CardHolder { get; set; }
        public string Name { get; set; }
        public string Address1 { get; set; }
        public string Address2 { get; set; }
        public string City { get; set; }
        public string State { get; set; }
        public string Zip { get; set; }
        public int Country { get; set; }
        public int StoreId { get; set; }
        public string Warehouse { get; set; }
        public string Region { get; set; }
        public string System { get; set; }
        public int TransId { get; set; }
        public string Register { get; set; }
        public string Clerk { get; set; }
        public decimal Amount { get; set; }
        public decimal Tax { get; set; }
        public DateTime OrderDate { get; set; }
        public DateTime ShipDate { get; set; }

    }

    public class CreditCard
    {
        public int CardId { get; set; }
        public string CardNr { get; set; }
    }

    public class Country
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

    Order order = new Order()
    {
        ExpiryDate = DateTime.Parse("10/10/2022"),
        OrderDate = DateTime.Now,
        ShipDate = DateTime.Now
    };

    List<CreditCard> cards = new List<CreditCard>()
{
        new CreditCard() { CardId = 1, CardNr = "5555555555554444" },
        new CreditCard() { CardId = 2, CardNr = "4012888888881881" }
    };

    List<Country> countries = new List<Country>()
{
        new Country() { Id = 1, Name = "USA" },
        new Country() { Id = 2, Name = "Germany" }
    };

    void Submit(Order arg)
    {
        //
    }

    void Cancel()
    {
        //
    }
}
    }
